.main_chat
  .main_chat__header
    .main_chat__header__left-box
      %h2.main_chat__header__left-box__title
        = @group.name
      %ul.main_chat__header__left-box__member
        Member:
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group),class: "main_chat__header__edit-btn"
       


  .messages
    = render @messages
    
    



  .form
    = form_for [@group, @message] do |f|
      .new-message
        .new-message__input-box
          = f.text_field :content, class: 'new-message__input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'new-message__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'new-message__submit-btn'
